@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #434242;
  overflow: hidden;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 19s linear infinite;
}

.background li:nth-child(0) {
  left: 7%;
  width: 199px;
  height: 199px;
  bottom: -199px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 46%;
  width: 180px;
  height: 180px;
  bottom: -180px;
  animation-delay: 3s;
}
.background li:nth-child(2) {
  left: 43%;
  width: 149px;
  height: 149px;
  bottom: -149px;
  animation-delay: 4s;
}
.background li:nth-child(3) {
  left: 66%;
  width: 107px;
  height: 107px;
  bottom: -107px;
  animation-delay: 5s;
}
.background li:nth-child(4) {
  left: 60%;
  width: 156px;
  height: 156px;
  bottom: -156px;
  animation-delay: 5s;
}
.background li:nth-child(5) {
  left: 21%;
  width: 160px;
  height: 160px;
  bottom: -160px;
  animation-delay: 14s;
}
.background li:nth-child(6) {
  left: 35%;
  width: 181px;
  height: 181px;
  bottom: -181px;
  animation-delay: 11s;
}
.background li:nth-child(7) {
  left: 16%;
  width: 102px;
  height: 102px;
  bottom: -102px;
  animation-delay: 22s;
}
.background li:nth-child(8) {
  left: 11%;
  width: 154px;
  height: 154px;
  bottom: -154px;
  animation-delay: 40s;
}
.background li:nth-child(9) {
  left: 7%;
  width: 119px;
  height: 119px;
  bottom: -119px;
  animation-delay: 3s;
}
